body {
  padding-top: 20px;
  padding-bottom: 40px;
}
.container {
  width: 960px;
}
p.lead {
  padding-top: 15px;
}
.navigation, .pitch, .section1, .section2, .footer {
  padding: 10px 0 10px 0;
}
.video, .thermometer, .order, .social {
  border: 1px dotted;
  text-align: center;
}
.video {
  /* 120 px + 4px of internal borders */
  height: 124px;
  line-height: 124px;
}
.thermometer, .order, .social {
  /* line-height to vertically center */
  height: 40px;
  line-height: 40px;
}
div.row {
  border: 1px solid;
}
